# Evitar travamento: timeout alto
fetch-timeout=120000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

registry=https://registry.npmjs.org/

# Se ainda travar, descomente para usar espelho:
# registry=https://registry.npmmirror.com/
